In [1]:
import pandas as pd

In [5]:
visual = pd.read_csv('us-counties.csv')
visual

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1       0
1       2020-01-22   Snohomish  Washington  53061.0      1       0
2       2020-01-23   Snohomish  Washington  53061.0      1       0
3       2020-01-24        Cook    Illinois  17031.0      1       0
4       2020-01-24   Snohomish  Washington  53061.0      1       0
...            ...         ...         ...      ...    ...     ...
447193  2020-08-18  Sweetwater     Wyoming  56037.0    279       2
447194  2020-08-18       Teton     Wyoming  56039.0    393       1
447195  2020-08-18       Uinta     Wyoming  56041.0    278       2
447196  2020-08-18    Washakie     Wyoming  56043.0    101       5
447197  2020-08-18      Weston     Wyoming  56045.0      9       0

[447198 rows x 6 columns]